{{#if products}}
<div class='columns tile is-ancestor is-multiline is-mobile'>
    {{#each products}}
        <div class='column tile is-parent is-12-mobile is-6-tablet is-3-desktop is-2-widescreen'>
            <div class='card tile is-child'>
                <div class='card-image'>
                    <figure class='image is-flex is-justify-content-center'>
                        <img
                            src='{{imagePath}}'
                            alt='{{name}}'
                        />
                    </figure>
                </div>
                <div class='card-content'>
                    <div class='media'>
                        <div class='media-content'>
                            <p class='title is-4'>{{name}}</p>
                        </div>
                    </div>

                    <div class='content'>
                        ${{price}}
                        <br />
                        {{#if description}}
                        <p class="card-product-description">{{description}}</p>
                        {{else}}
                        <div class="card-p-empy-description"></div>
                        {{/if}}
                        {{!-- <br />
                        <time datetime='2016-1-1'>{{date}}</time> --}}
                        <div class="buttons is-right mt-3">
                            <form action="/products/delete/{{_id}}?_method=DELETE" method="POST" class="hiddenForm">
                                <input type="hidden" value="DELETE" name="_method">
                                <button type="submit" class="button is-danger is-small ">Eliminar</button>
                            </form>
                            <a href="/products/edit/{{_id}}" class="button is-blue is-small is-pulled-right">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
{{else}}
<div class="columns is-centered">
    <div class='column is-narrow'>
        <div class='card'>
            <div class='card-content'>
                <div class='media'>
                    <div class='media-content has-text-centered'>
                        <p class='title is-4'>No tienes productos aun</p>
                        <a href='/products/addProduct' class='button is-primary is-outlined' >Agregar producto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}