
{{#if products}}
<div class='columns tile is-ancestor is-multiline is-mobile' id="shopProducts">
    {{#each products}}
        <div class='column tile is-parent is-12-mobile is-6-tablet is-3-desktop is-2-widescreen'>
            <div class='card tile is-child'>
                <div class='card-image'>
                    <figure class='image is-flex is-justify-content-center'>
                        <img
                            src='{{imagePath}}'
                            alt='{{name}}'
                        />
                    </figure>
                </div>
                <div class='card-content'>
                    <div class='media'>
                        <div class='media-content'>
                            <p class='title is-4'>{{name}}</p>
                        </div>
                    </div>

                    <div class='content'>
                        ${{price}}
                        <br />
                        <p>{{description}}</p>
                    </div>

                    {{!-- {{#if orderId}} --}}
                    {{!-- <form action="/orders/addtoorder/{{_id}}" method="POST">
                        <input class="input is-primary" type="number" placeholder="Cantidad" value="1">
                        <div class="buttons">
                            <button onclick="addCart()" type="submit" id="{{_id}}" class="button is-blue is-fullwidth">Agregar</button>
                        </div>
                    </form> --}}

                    <button id="{{_id}}" class="button addBtn is-blue is-fullwidth">Agregar</button>
                    {{!-- {{/if}} --}}


                </div>
            </div>
        </div>
    {{/each}}
</div>
{{else}}
<div class="columns is-centered">
    <div class='column is-narrow'>
        <div class='card'>
            <div class='card-content'>
                <div class='media'>
                    <div class='media-content has-text-centered'>
                        <p class='title is-4'>No tienes productos aun</p>
                        <a href='/products/addProduct' class='button is-primary is-outlined' >Agregar producto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}